.main-card-container {

    position: relative;
    width: 353px;
    overflow: hidden;
  
    height: 299px;
    border-radius: 16px;
    margin: 0 auto;

    background: radial-gradient(89.74% 183.88% at 6.4% 50%, rgb(2 115 65) 0%, rgba(7, 66, 20, 0.52) 100%);
    box-shadow: 10px 4px 15px rgba(0, 0, 0); 

    @media (min-width: 768px) {
      background: linear-gradient(to top right, rgba(156, 14, 7, 1), rgba(78, 7, 4, 0.5));
      max-width: 484px;
      width: 100%;
      height: 350px;
      margin: 0;
    }


     .card-headline{
      display: flex;
      justify-content:space-between;
      padding: 16px;
      
       .info-text {
        font-family:"NotoSansGeorgian-Regular";
        font-size: 12px;
        font-weight: 600;
        line-height: 16.32px;
        color:#FFF;

        @media (min-width: 768px) {
          font-size: 16px;
          line-height: 21.76px;
        }

         span {
          color:#029e02;
        }
      }
    }

     .card-paragraph {
      color:#FFF;
      font-family:"NotoSansGeorgian-Regular";

      font-size: 11px;
      font-weight: 500;
      line-height: 14.96px;

      padding: 0px 16px;

      @media (min-width: 768px) {
        font-size: 13.2px;
        line-height: 17.95px;

      }

    }

     .curly-lines {

        position: absolute;

        width: 100px;
        height: 100px;

        transform: rotate(-150deg);
        border-radius: 24px;
        right: 6px; 
        z-index: 0;
        box-shadow: 1px 1px 1px rgba(19, 236, 132, 1);

        @media (min-width: 768px) {
          box-shadow: 1px 1px 1px rgba(157, 0, 0, 1);
        }

      }
       .line1 {
        top: 80px;
        @media (min-width: 768px) {
           top: 170px
        }
      }
       .line2 {
        top: 110px
      }
       .line3 {
        top: 140px;
      }
      
      
    }

     .car-image {
      position: relative;
      margin: 39px auto 5px auto; 
      z-index: 1;
      content: url('/images/cars/car-M4-green.svg');

      @media (min-width: 768px) {
        content: url('/images/cars/car-M4-red.svg');
        margin-bottom: 22px; 
      }
    }

     .coins-container{
      display:flex;
      align-items:center;
      justify-content:space-between;
      padding:0px 18px;

       .coin {
        width: 22px;
        height: 22px;

        @media (min-width: 768px) {
          width: 31px;
          height: 31px;
        }
      }
    
    }

