<div class="bg-container">
    <div class="header" appScroll>
        <img class="betlive-logo" src="/images/betlive-logo.svg" alt="betlive-logo">
        <div class="flags">
            <img src="/images/flags/ka-flag.svg" (click)="updateLanguage('ka')" alt="ka-flag">
            <img src="/images/flags/en-flag.svg" (click)="updateLanguage('en')" alt="en-flag">
        </div>
    </div>
    <div class="content-container">
        <div class="heading-container">
            <img class="headline" src="/images/headline.svg" alt="">
            <div class="text-container">
                <div class="main-text">
                    10 000₾ და 150 000 <span class="freespins">FREESPINS</span>
                </div>
                <div class="line"></div>
                <div class="sub-text">
                    <img class="icon" src="/images/coins/j-icon.svg" alt="j-icon">9 ᲛᲝᲜᲔᲢᲐᲪ ᲛᲝᲛᲒᲔᲑᲘᲐᲜᲘᲐ
                </div>
            </div>
        </div>


        <div class="video-instruction-container" (click)="openVideoDialog()">
            <img class="play-icon" src="/images/play.svg" alt="play-icon">
            <div class="video-text">{{"video-instruction" | translate}}</div>
        </div>

      
        <div class="cards-section">
            <div class="cards-headline-container">
                <div class="head-line1">
                    9 მონეტა
                    <img src="/images/equal-icon.svg" alt="equal-sign">
                    წილს <div class="green-text">4 800 000</div>
                </div>
                <div class="head-line2">
                    <div class="freespins">FREESPINS</div>
                    <div class="jackpot">ჯეკპოტიდან</div> 
                </div>
            </div>

            <div class="cards-flex-container">
                <div class="main-card-container">
                    <div class="card-headline">
                        <img src="/images/M4-logo.svg" alt="M4-logo">
                        <div class="info-text">დარჩენილია <span>1</span>/1</div>
                    </div>
                    <div class="card-paragraph">რაღაცა გაუთვალისწინებელი ტექსტი</div>
                    <div class="car-image" alt="M4-car"></div>
                    <div class="curly-lines line1"></div>
                    <div class="curly-lines line2"></div>
                    <div class="curly-lines line3"></div>

                    <div class="coins-container">
                        <img *ngFor="let coin of coins" [src]="getCoinImage(coin)" class="coin" alt="coin">
                      </div>
                      
                </div>

                <div class="sub-cards-container">

                    <div class="sub-card">
                        <div class="headline-text-container">
                            <div class="headline-text"></div>
                            <div class="user-container">
                                <div class="user-image-container">
                                    <img class="user-image" src="/images/user.svg" alt="user">
                                </div>
                                <p class="user-name">T*******N</p>
                            </div>
                        </div>

                        <img class="amount-prize" src="/images/prizes/prize-15000.svg" alt="amount-15000">
                        <div class="curly-lines line1"></div>
                        <div class="curly-lines line2"></div>
                        <div class="curly-lines line3"></div>

                        <div class="gel-coins-container">
                            <img class="unfilled coin" src="/images/coins/gel-coin-filled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-filled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/jackpot-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                        </div>
                    </div>
                   

                    <div class="sub-card grey-card">
                        <div class="grey-headline-text-container headline-text-container">
                            <div class="grey-headline-text">თამაშდება 4 იანვრამდე</div>
                            <div class="info-text">დარჩენილია <span>145</span>/200</div>
                        </div>

                        <img class="amount-prize" src="/images/prizes/prize-500.svg" alt="amount-500">
                        <div class="curly-lines white-line line1"></div>
                        <div class="curly-lines white-line line2"></div>
                        <div class="curly-lines white-line line3"></div>

                        <div class="gel-coins-container">
                            <img class="unfilled coin" src="/images/coins/grey-gel-coin-filled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/grey-gel-coin-filled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/grey-gel-coin-filled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                            <img class="unfilled coin" src="/images/coins/gel-coin-unfilled.svg" alt="coin">
                        </div>
                    </div>
                 </div>
            </div>
          
        </div>




        <div class="bonus-section">
            <app-bonus-section></app-bonus-section>
        </div>

        <app-slider-card></app-slider-card>

    </div>
</div>