.bg-container {
    background-image: url('/images/background-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  
    @media (min-width: 768px) {
      background-image: url('/images/background-web.svg');
    }


    & .content-container {


        & .heading-container {
            text-align:center;
            padding-top:108px;
            padding-bottom:17px;

            @media (min-width: 768px) {
              padding-top:47px
            }

            & .headline{

              @media (min-width: 768px) {
                width: 418px;
                height: 62px;
              }
            }

            .text-container {
              width: 349px;
              height: 78px;
              margin: 0 auto;
              padding: 10px;

              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;

              border: 1.5px solid transparent; 
              border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.1) -6.19%, rgba(255, 255, 255, 0.1) 44.6%);
              border-image-slice: 1; 
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75) inset;
              background: rgba(0, 0, 0, 0.1);


              @media (min-width: 768px) {
                width: 721px;
                height: 148px;
                border-width: 3.34px;
              }
          


              & .main-text {
                background: linear-gradient(180deg, #FFFFFF 42.94%, #C8CFD9 77.27%);
                color: transparent;
                background-clip: text;
                
                
                font-family:"NotoSansGeorgian-ExtraBold";
                font-size: 19px;
                line-height: 25.84px;
                font-weight:900;

                  & .freespins{
                    font-family: "Montserrat-ExtraBold";
                    font-weight:900;
                  }

                @media (min-width: 768px) {
                  font-size: 40px;
                  line-height: 54.4px;
                }
                
              }
            
              & .sub-text {
                font-family:"NotoSansGeorgian-ExtraBold";
                color: white;

                display:flex;
                align-items:center;
                justify-content:center;
                gap:11px;

                font-size: 13px;
                font-weight: 900;
                line-height: 17.68px;

                border-top: 2px solid transparent;
                // border: 1.5px solid transparent; 
                // border-image-source: linear-gradient(180deg, rgba(255, 0, 0, 0.7) 0%, rgba(255, 165, 0, 0.7) 100%);
                // border-image-slice: 1;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75) inset;



                @media (min-width: 768px) {
                  font-size: 25.07px;
                  line-height: 34.09px;
                }
            
                & .icon {

                  @media (min-width: 768px) {
                    width: 35px;
                  }
                }
              }


              .line {
                height:1px;
                background:red;
                width: 100%;
              }
            }
        }
    }
  }
  