
.card-container {
    height:156px;
    width: 188px;
    margin: 0 auto;
    background: rgba(32, 35, 49, 0.8);


    @media (min-width:768px){
        width: 310px;
        height: 220px;
    }

    @media (min-width:960px){
        width: 376px;
        height: 306px;
    }

    & .slider-image{
        width: 100%;
        height: 105px;
        border-radius: 8px;

        @media (min-width:768px) {
            width: 300px;
            height: 180px;
            border-radius: 16px;
        }

        @media (min-width:960px) {
            width: 376px;
            height: 210px;
            border-radius: 16px;
        }

    }

    & a {
        text-decoration:none;

        & .card-button {
            width: 91px;
            height: 34px;
            border-radius: 6px;

            margin: 7px auto;

            display: flex;
            align-items:center;
            justify-content: center;

            color: #FFF;
            background: rgba(247, 6, 40, 1);

            font-family: 'NotoSansGeorgian-Medium';
            font-size: 10px;
            font-weight: 600;
            line-height: 13.6px;
            

            @media (min-width:768px) {
                width: 200px;
                height: 80px;
                border-radius: 12px;

                font-size: 16px;
                font-weight: 600;
            }

            @media (min-width: 960px) {
                width: 158px;
                height: 62px;
                border-radius: 12px;

                font-size: 16px;
                font-weight: 600;
            }

        }

    }
}


:host ::ng-deep .p-carousel-container {
    width: 252px;
    margin: 30px auto;


    @media (min-width:768px) {
        width: 370.5px;
        height: 300px;
        margin: 50px auto;
    }

    @media (min-width:960px) {
        width: 962px;
        height: 326px;
        margin: 60px auto;
    }
}